.contianer {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
}

.information-paper {
  border-radius: 0.625rem;
  margin: auto;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
}
