@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --border: darkgray;
  --background-color: #fafafa;
}

* {
  font-family: "Cairo", sans-serif !important;
}

body {
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}
